<div class="row">
    <div class="col-xl-10 offset-xl-1">
        <div class="jumbotron" style="background-color: rgba(255, 255, 255, 0.7);">
            <h1 class="display-4 font-weight-bold" style="word-break: break-all;"><%=t('credits.acknowledgments')%></h1>
            <br/>
            <p style="font-size: 18px;"><%=t('credits.line1')%></p>
            <p style="font-size: 18px;"><%=t('credits.line2')%></p>
            <p style="font-size: 18px;"><%=t('credits.line3')%></p>
            <p style="font-size: 18px;"><%=t('credits.line4')%></p>
            <p style="font-size: 18px;"><%=t('credits.line5')%></p>
            <p style="font-size: 18px;"><%=t('credits.line6')%></p>
            <p style="font-size: 18px;"><%=t('credits.line7')%></p>
            <p style="font-size: 18px;"><%=t('credits.line8')%></p>
        </div>
    </div>
</div>
<div class="row ">
    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
        <div class="card border-primary mb-3 mw-100 shadow" style="max-width: 20rem;">
            <div class="card-header" style="font-size: 24px; font-weight: bold;"><%=t('credits.coordenation')%></div>
            <div class="card-body">
                <h4 class="card-title">Dra Leticia Rocha Machado</h4>
                <p class="card-text"><p style="font-size: 18px;"><%=t('credits.qualifications')%></p><p style="font-size: 18px;"><%=t('credits.email')%>: <a href="mailto:leticiarmachado@gmail.com">leticiarmachado@gmail.com</a></p><%=t('credits.curriculum')%>: <a href="http://lattes.cnpq.br/7669562366317063" style="font-size: 18px;">lattes.cnpq.br/7669562366317063</a></p>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
        <div class="card border-primary mb-3 mw-100 shadow" style="max-width: 20rem;">
            <div class="card-header" style="font-size: 24px; font-weight: bold;"><%=t('credits.team')%></div>
            <div class="card-body">
                <h4 class="card-title"><%=t('credits.images')%></h4>
                <p class="card-text" style="font-size: 18px;">Mariana Marques</p>
                <h4 class="card-title"><%=t('credits.design')%></h4>
                <p class="card-text" style="font-size: 18px;">Anderson Bier Saldanha</p>
                <h4 class="card-title"><%=t('credits.development')%></h4>
                <p class="card-text" style="font-size: 18px;">Magnun Furtado</p>
            </div>
        </div>
    </div>
</div>
